body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: white;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    margin: 16px auto 16px 100px;
    display: flex;
    width: 100px;
    height: 100px;
}

.link {
    display: flex;
    margin-right: 100px;
}

.hero {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: white;
    align-items: center;
    gap: 16px;
    justify-content: space-evenly;
}

.hero-left {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 75px;
    width: 50%;
    gap: 8px;
    margin-bottom: 75px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-info {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-portrait {
    display: flex;
    width: 200px;
    height: 200px;
    margin-right: 100px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.card {
    display: flex;
    width: 100px;
    height: 150px;
}

.hero-button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    padding: 8px 16px;
    width: 70px;
    text-align: center;
}